* {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.Container {
  display: flex;
  flex-direction: row;
}

.Left-Div {
  background: #BDD630;
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Left-Div img {
  width: 50%;
}

.Left-Div h1 {
  color: #3E3E3E;
}

.Left-Div span {
  color: #505050
}

.Right-Div {
  background: #FFFFFF;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Right-Div img {
  width: 40%;
  margin-bottom: 24px;
  align-self: center;
}

.Select-Idioma {
  position: absolute;
  top: 30px;
  right: 30px;
}

.Right-Div select {
  width: 90px;
  padding: 8px 0px 6px 10px;
  border-radius: 15px;
  background: #808184;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.Right-Div select:focus {
  filter: brightness(0.9);
  outline: none;
}

.Form-Usuario {
  width: 50%;
  align-self: center;
}

.Right-Div label {
  margin-top: 10px;
  color: #585858;
  font-weight: 550;
}

.Right-Div input,
.Right-Div button {
  padding: 12px 10px;
  margin: 5px 0px 15px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
}

.Right-Div input {
  width: 95%;
  background: #F1F1F1;
}

.Right-Div input:focus {
  outline: none;
}

.Right-Div button {
  width: 100%;
  font-weight: 550;
  background: #BDD630;
  color: #FFFFFF;
  cursor: pointer;
}

.Right-Div button:hover {
  filter: brightness(0.9)
}